{
  "interface_scale": {{ if eq .chezmoi.hostname "hex" }} 1.0 {{ else }} 1.25 {{ end }},
  "render_device_type": "{{ .blender.device }}",
  "theme": "Deep Grey",
  "asset_libraries": [
    {
      "name": "Personal Assets",
      "path": "{{ .chezmoi.homeDir }}/blender-assets/",
      "import_method": "LINK" 
    }
  ]
}
