{
  "interface_scale": {{ if eq .chezmoi.hostname "hex" }} 1.0 {{ else }} 1.25 {{ end }},
  "render_device_type": "{{ if eq .chezmoi.hostname "bursar" }}NONE{{ else }}OptiX{{ end }}",
  "theme": "Deep Grey",
  "asset_libraries": [
    {
      "name": "Personal Assets",
      "path": "{{ .chezmoi.homeDir }}/blender-assets/"
    }
  ]
}
