{
  "interface_scale": {{ .blender.ui_scale }},
  "render_device_type": "{{ .blender.device }}",
  "theme": "Deep Grey",
  "asset_libraries": [
    {
      "name": "Personal Assets",
      "path": "{{ .chezmoi.homeDir }}/blender-assets/",
      "import_method": "LINK" 
    }
  ],
  "extensions": [
    "sun_position",
    "screencast_keys",
    "node_arrange",
    "node_wrangler"
  ]
}
