# .zshrc - amix@amix.dk 13/08/07 18:43:43
# Inspired by http://files.csa-net.dk/public/dotfiles/zshrc.txt
# Inspired by http://www.michael-prokop.at/computer/config/.zsh/
# Inspired by http://gott-gehabt.de/800_wer_wir_sind/thomas/Homepage/Computer/zsh/zshrc
umask 002

# Skipping this for now; seems not to be necessary on any systems anymore
#if [ `hostname` = turnipseed ]; then
#    export GDK_SCALE=1.0
    export QT_XCB_GL_INTEGRATION=xcb_egl
#else
#    export GDK_SCALE=2.0
#fi

export BROWSER="/usr/bin/google-chrome %s"
export PAGER="less"
export LESS="-r"
export EDITOR="vim"

#export CONDA_BASE=$HOME/conda-py3/
export GOPATH=$HOME/Development/go
export TWEEGO_PATH=$HOME/Documents/twine/story-formats/

set -o vi

alias open="garcon-url-handler"

alias vv="kitty +kitten icat"

# We just say 'left' here because it wraps around and we don't expect to have
# more than two.
alias i31="i3-msg 'workspace 1; move workspace to output left'"
alias i32="i3-msg 'workspace 2; move workspace to output left'"
alias i33="i3-msg 'workspace 3; move workspace to output left'"

fpath=($fpath ~/.zshfuncs)
path=( $HOME/.cargo/bin $HOME/.local/bin $path $GOPATH/bin )

###--------------------------------------------------
### history
HISTSIZE="50000"
HISTFILE="${HOME}/.zsh_history"
SAVEHIST="20000"
DIRSTACKSIZE=30
READNULLCMD=less

update_gh() {
    fn="gh_${1}_linux_amd64.deb"
    wget "https://github.com/cli/cli/releases/download/v$1/${fn}"
    sudo dpkg -i ${fn}
    rm ${fn}
}

goto() {
  if [ "$1" = "." ]; then
    pwd >> "$HOME/.config/goto"
  else
    cd "$(cat $HOME/.config/goto | sort | fzf)"
    ls
  fi
}

###--------------------------------------------------
### prompts
#setprompt()
#{
#    export PROMPT="[${YTNAME}]%(?..(${RED}{%?}${NO_COLOUR}%))[${YELLOW}%T${NO_COLOUR}][${CYAN}%15<...<%~${NO_COLOUR}]$ "
#}
#
#unset P

export LESSCHARSET=iso8859

ppbr()
{
    PP="${HOME}/yt/$1/"
    if [ ! -d ${PP} ] && echo "${PP} doesn't exist" && return
    export PYTHONPATH=${PP}
    #echo "PYTHONPATH=${PYTHONPATH}"
    export YTPATH=${PP}
    export YTNAME=$1
    #setprompt
}
ppbr yt

aks()
{
    keychain {{ .ssh.key_filename }}
    source ~/.keychain/`uname -n`-sh
}

uks()
{
    killall ssh-agent
}


###--------------------------------------------------
### aliases
alias 'c'='cat'
alias 'g'='grep -i'
alias 'm'='less'
alias 'p'='pwd'
alias 'l'='ls -avFG'
alias 'ls'='ls -vG'
alias 'mk'='make'
alias 'which-command'='whence -afv'
alias 'which'='whence -afv'
alias 'pushd'='pushd;dirs -v'
alias 'popd'='podp;dirs -v'
alias 'd'='dirs -v'
alias 'j'='jobs -lp'
alias 'h'='fc -ldD -40'

###--------------------------------------------------
### options
setopt autocd autolist automenu autopushd braceccl cdablevars
setopt correct extendedglob noflowcontrol
setopt histignoredups histignorespace histnostore listtypes longlistjobs sharehistory
setopt cshnullglob magicequalsubst listpacked
setopt numericglobsort pushdignoredups pushdminus pushdsilent
setopt pushdtohome rcexpandparam rcquotes
setopt sunkeyboardhack zle nobadpattern autoremoveslash
setopt completeinword autoparamkeys
setopt alwayslastprompt

unsetopt bgnice norcs notify nonomatch hashdirs listambiguous

# Must have the zsh/termcap module loaded for this
if [[ $terminfo[colors] -ge 8 ]]; then
    local RED="%{[1;31m%}"
    local LIGHT_RED="%{[0;31m%}"
    local CYAN="%{[1;36m%}"
    local LIGHT_CYAN="%{[0;36m%}"
    local BLUE="%{[1;34m%}"
    local LIGHT_BLUE="%{[0;34m%}"
    local GREEN="%{[1;32m%}"
    local LIGHT_GREEN="%{[0;32m%}"
    local MAGENTA="%{[1;35m%}"
    local LIGHT_MAGENTA="%{[0;35m%}"
    local YELLOW="%{[1;33m%}"
    local LIGHT_YELLOW="%{[0;33m%}"
    local GRAY="%{[1;30m%}"
    local LIGHT_GRAY="%{[0;37m%}"
    local WHITE="%{[1;37m%}"
    local NO_COLOUR="%{[0m%}"
    local BEGINNING_OF_LINE="%{[80D%}"
else
    local RED=""
    local LIGHT_RED=""
    local CYAN=""
    local LIGHT_CYAN=""
    local BLUE=""
    local LIGHT_BLUE=""
    local GREEN=""
    local LIGHT_GREEN=""
    local MAGENTA=""
    local LIGHT_MAGENTA=""
    local YELLOW=""
    local LIGHT_YELLOW=""
    local GRAY=""
    local LIGHT_GRAY=""
    local WHITE=""
    local NO_COLOUR=""
    local BEGINNING_OF_LINE=""
fi

#setprompt

### COMPLETION AND MORE

# The following lines were added by compinstall
[[ -z $fpath[(r)$_compdir] ]] && fpath=($fpath $_compdir)
#fpath=(/home/tkoehler/zsh/foo $fpath)

autoload -U compinit
compinit

local _myhosts
_myhosts=(${${${${(f)"$(<$HOME/.ssh/known_hosts)"}:#[0-9]*}%%\ *}%%,*})
# zstyle ':completion:*' hosts $_myhosts

zstyle ':completion:*' auto-description 'specify %d'
zstyle ':completion:*' completer _complete _ignored _match _correct _approximate _prefix
zstyle ':completion:*' file-sort name
zstyle ':completion:*' group-name ''
## domains to use for mutt user@host<TAB> completion
zstyle ':completion:*' list-prompt '%SAt %p: Hit TAB for more, or the character to insert%s'
zstyle ':completion:*' matcher-list 'r:|[._-]=** r:|=**' 'l:|=* r:|=*' 'm:{a-z}={A-Z}'
zstyle ':completion:*' match-original both
zstyle ':completion:*' max-errors 3
zstyle ':completion:*' menu select=0
zstyle ':completion:*' prompt 'CORRECT (%e errors found) > '
zstyle ':completion:*' special-dirs true
zstyle ':completion:*' squeeze-slashes true
zstyle '*mutt*' users vim vim-dev tkoehler
zstyle '*' users thomas tkoehler
zstyle ':completion:*' verbose true
zstyle :compinstall filename '/home/tkoehler/.zshrc'
# End of lines added by compinstall
#fpath=(/usr/share/doc/zsh/examples/Functions/Misc/ $fpath)
#autoload nslookup


zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*:*:*:*:hosts' list-colors '=(#b)(*)(to.com)=34;40=35;40' '=(#b)(*)(mayn.de)=36;40=35;40' '=unser.linux.laeuft.auf.s390.org=33;40' '=*=31;40'
zstyle ':completion:*:*:*:*:users' list-colors '=*=32;40'

autoload -U zfinit
zfinit

ZLS_COLOURS='ma=7:di=0:ex=0:bd=0:cd=0:ln=0:so=0'

### KEY BINDINGS
# vi keybindings
bindkey -v

bindkey "^P" history-beginning-search-backward
bindkey "^N" history-beginning-search-forward
bindkey "[C" forward-char
bindkey "[D" backward-char
bindkey "^Xq" push-line
bindkey "^Xr" history-incremental-search-backward
bindkey "^Xs" history-incremental-search-forward
bindkey "^X_" insert-last-word
bindkey "^Xa" accept-and-hold
bindkey "^X^H" run-help
bindkey "^Xh" _complete_help
bindkey "^I" expand-or-complete
bindkey "^E" expand-word
bindkey -M vicmd "^R" redo
bindkey -M vicmd "u" undo
bindkey -M vicmd "ga" what-cursor-position

### VI MODE EXTENSIONS
redisplay() {
   builtin zle .redisplay
   ( true ; show_mode "insert") &!
}
redisplay2() {
   builtin zle .redisplay
   (true ; show_mode "normal") &!
}
zle -N redisplay
zle -N redisplay2
bindkey -M viins "^X^R" redisplay
bindkey -M vicmd "^X^R" redisplay2

screenclear () {
   echo -n "\033[2J\033[400H"
   builtin zle .redisplay
   (true ; show_mode "insert") &!
}
zle -N screenclear
bindkey "" screenclear

screenclearx () {
   # print -n '7'
   repeat 2 print 
   local MYLINE="$LBUFFER$RBUFFER"
   highlight $MYLINE
   repeat 4 print 
   builtin zle redisplay
}
zle -N screenclearx
bindkey "^Xl" screenclearx

show_mode() {
   local COL
   local x
   COL=$[COLUMNS-3]
   COL=$[COL-$#1]
   x=$(echo $PREBUFFER | wc -l )
   x=$[x+1]
   echo -n "7[0;$COL;H"
   echo -n ""

   if [[ $1 = insert ]]; then
       echo -n "[0;37;41m Insert [0m"
   fi
   if [[ $1 = normal ]]; then
       echo -n "[0;37;44m Normal [0m"
   fi
   if [[ $1 = replace ]]; then
       echo -n "[0;37;46m Replace [0m"
   fi
   echo -n "8"
}

###       vi-add-eol (unbound) (A) (unbound)
###              Move  to the end of the line and enter insert mode.
vi-add-eol() {
   show_mode "insert"
   builtin zle .vi-add-eol
}
zle -N vi-add-eol
bindkey -M vicmd "A" vi-add-eol

###       vi-add-next (unbound) (a) (unbound)
###              Enter insert mode after the  current  cursor  posi­
###              tion, without changing lines.
vi-add-next() {
   show_mode "insert"
   builtin zle .vi-add-next
}
zle -N vi-add-next
bindkey -M vicmd "a" vi-add-next

###       vi-change (unbound) (c) (unbound)
###              Read a movement command from the keyboard, and kill
###              from  the  cursor  position  to the endpoint of the
###              movement.  Then enter insert mode.  If the  command
###              is vi-change, change the current line.

vi-change() {
   show_mode "insert"
   builtin zle .vi-change
}
zle -N vi-change
bindkey -M vicmd "c" vi-change

###       vi-change-eol (unbound) (C) (unbound)
###              Kill  to the end of the line and enter insert mode.
vi-change-eol() {
   show_mode "insert"
   builtin zle .vi-change-eol
}
zle -N vi-change-eol
bindkey -M vicmd "C" vi-change-eol

###       vi-change-whole-line (unbound) (S) (unbound)
###              Kill the current line and enter insert mode.
vi-change-whole-line() {
   show_mode "insert"
   builtin zle .vi-change-whole-line
}
zle -N vi-change-whole-line
bindkey -M vicmd "S" vi-change-whole-line

###       vi-insert (unbound) (i) (unbound)
###              Enter insert mode.
vi-insert() {
   show_mode "insert"
   builtin zle .vi-insert
}
zle -N vi-insert
bindkey -M vicmd "i" vi-insert

###       vi-insert-bol (unbound) (I) (unbound)
###              Move to the first non-blank character on  the  line
###              and enter insert mode.
vi-insert-bol() {
   show_mode "insert"
   builtin zle .vi-insert-bol
}
zle -N vi-insert-bol
bindkey -M vicmd "I" vi-insert-bol

###       vi-open-line-above (unbound) (O) (unbound)
###              Open a line above the cursor and enter insert mode.
vi-open-line-above() {
   show_mode "insert"
   builtin zle .vi-open-line-above
}
zle -N vi-open-line-above
bindkey -M vicmd "O" vi-open-line-above

###       vi-open-line-below (unbound) (o) (unbound)
###              Open a line below the cursor and enter insert mode.
vi-open-line-below() {
   show_mode "insert"
   builtin zle .vi-open-line-below
}
zle -N vi-open-line-below
bindkey -M vicmd "o" vi-open-line-below

###       vi-substitute (unbound) (s) (unbound)
###              Substitute the next character(s).
vi-substitute() {
   show_mode "insert"
   builtin zle .vi-substitute
}
zle -N vi-substitute
bindkey -M vicmd "s" vi-substitute


###       vi-replace (unbound) (R) (unbound)
###              Enter overwrite mode.
###
vi-replace() {
   show_mode "replace"
   builtin zle .vi-replace
}
zle -N vi-replace
bindkey -M vicmd "R" vi-replace

###       vi-cmd-mode (^X^V) (unbound) (^[)
###              Enter  command  mode;  that  is, select the `vicmd'
###              keymap.  Yes, this is bound  by  default  in  emacs
###              mode.
vi-cmd-mode() {
   show_mode "normal"
   builtin zle .vi-cmd-mode
}
zle -N vi-cmd-mode
bindkey -M viins "" vi-cmd-mode


###       vi-oper-swap-case
###              Read a movement command from the keyboard, and swap
###              the case of all characters from the cursor position
###              to the endpoint of the movement.  If  the  movement
###              command  is vi-oper-swap-case, swap the case of all
###              characters on the current line.
###
bindkey -M vicmd "g~" vi-oper-swap-case

### Antigen
### https://github.com/zsh-users/antigen#usage

source /usr/share/zsh-antigen/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle git
antigen bundle pip
antigen bundle command-not-found

# add some useful ones
antigen bundle lpass
antigen bundle conda-env

# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load the theme.
antigen theme crunch

# Tell Antigen that you're done.
antigen apply

### zsh-autosuggestions

source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh

ZSH_THEME_CONDA_PREFIX='conda:%F{green}'
ZSH_THEME_CONDA_SUFFIX='%f'
RPROMPT='$(conda_prompt_info)'

### End zsh stuff

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# # >>> conda initialize >>>
# # !! Contents within this block are managed by 'conda init' !!
# __conda_setup="$('$HOME/conda-py3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
# if [ $? -eq 0 ]; then
#     eval "$__conda_setup"
# else
#     if [ -f "$HOME/conda-py3/etc/profile.d/conda.sh" ]; then
#         . "$HOME/conda-py3/etc/profile.d/conda.sh"
#     else
#         export PATH="$HOME/conda-py3/bin:$PATH"
#     fi
# fi
# unset __conda_setup
# # <<< conda initialize <<<

bindkey -v
