# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
}

order += "pomodoro"
order += "taskwarrior"
order += "net_rate"
order += "load"
order += "cpu_temperature 0"
order += "cpu_temperature 1"
order += "volume default"
order += "tztime local"

pomodoro {
    format = "{mmss} {bar}"
}

taskwarrior {
  filter = "+ACTIVE"
}

net_rate {
    sum_values = true
    unit = "MB/s"
    format = "{down}↓ {up}↑"
    format_value = "[\?min_length=9 {value:0.2f} {unit}]"
}

playerctlbar main {
}

cpu_temperature 0 {
        format = "T: %degrees °C"
        path = "{{- .cputemp.primary }}"
}

cpu_temperature 1 {
        format = "T: %degrees °C"
        path = "{{- .cputemp.secondary }}"
}

battery all {
        format = "%status %percentage %remaining"
}

tztime local {
        format = "%Y-%m-%d %I:%M:%S %p"
}

load {
        format = "%1min %5min"
        format_above_threshold = "Warning: %1min %5min"
}

volume "default" {
    format = " ♪: %volume"
    format_muted = "♪: muted (%volume)"
    #device = "pulse:bluez_sink.CC_98_8B_1F_A6_55.a2dp_sink"
    #on_click 3 = "exec pactl set-sink-mute bluez_sink.CC_98_8B_1F_A6_55.a2dp_sink toggle"
    #on_click 4 = "exec pactl set-sink-volume bluez_sink.CC_98_8B_1F_A6_55.a2dp_sink +5%"
    #on_click 5 = "exec pactl set-sink-volume bluez_sink.CC_98_8B_1F_A6_55.a2dp_sink -5%"
    device = "default"
    on_click 1 = "exec ~/.local/bin/mypa {{- .audio.primary }}"
    on_click 2 = "exec pactl set-sink-mute @DEFAULT_SINK@ toggle"
    on_click 3 = "exec ~/.local/bin/mypa {{- .audio.secondary }}"
    on_click 4 = "exec pactl set-sink-volume @DEFAULT_SINK@ +5%"
    on_click 5 = "exec pactl set-sink-volume @DEFAULT_SINK@ -5%"
}
